* text=auto

*.rs text eol=lf
*.toml text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.js text eol=lf
*.yml text eol=lf
*.cpp text eol=lf
*.svg text eol=lf
*.txt text eol=lf
*.ico binary
*.png binary
*.exe binary
